
{% for post in postslist | reverse %}
	<div class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}">

		<div class="archive-list-left">
			<a href="{{ post.url }}" class="postlist-link">
			  <img src="{{ post.data.featured_img }}" alt="{{ post.data.title }}"></img>
			</a>
		</div>

		<div class="archive-list-right">
			<a href="{{ post.url }}" class="postlist-link">
				{% if post.data.title %}{{ post.data.title }}{% else %}
				  <code>{{ post.url }}</code>
				{% endif %}
		    </a>
		<br>
		<time class="postlist-date" datetime="{{ post.date | htmlDateString }}">
			{{ post.date | readableDate("LLLL yyyy") }}
		</time>
		</div>


	</div>
{% endfor %}